@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: Go;
    src: url(./assets/fonts/Gotu-Regular.ttf);
}

:root {
    --bg: #08181A;
    --lightGreen: #BAFC00;
    --lightGray: rgb(255, 255, 255, 75%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
}