@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: Go;
    src: url(./assets/fonts/Gotu-Regular.ttf);
}

:root {
    --bg: #08181A;
    --lightGreen: #BAFC00;
    --lightWhite: rgb(255, 255, 255, 75%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background: var(--bg);
}

.nav {
    width: 100%;
    height: 110px;
    position: fixed;
    border: solid 1px rgba(59, 59, 59, 0.479);
}

.nav h1 {
    color: white;
    margin-left: 4em;
}

.nav .menu {
    cursor: pointer;
    margin-right: 4em;
}

.nav .icon {
    width: 20px;
    height: 20px;
    padding: 1em;
    cursor: pointer;
    margin-right: 2em;
    border-radius: 50%;
    background: rgb(255, 255, 255, 15%);
}

.nav .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav button {
    outline: none;
    border: none;
    width: 148px;
    height: 54px;
    cursor: pointer;
    font-size: 1.1em;
    margin-right: 2em;
    border-radius: 39px;
    background: var(--lightGreen);
}

.nav a {
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
}